[2019-06-27 08:42] d4rekanguok opened #1 "GraphQLDocumentError on unknown types"
When users use a plugin that copy fragments over (like `gatsby-transformer-sharp`), but have no images, code gen will throw `GraphQLDocumentError`.

[2019-07-01 07:50] d4rekanguok opened #3 "allow ts in `/plugins/` & config files"

[2019-07-01 07:51] d4rekanguok opened #4 "auto reload gatsby develop on gatsby-node.ts change"

[2019-07-01 07:56] d4rekanguok opened #5 "copy a default `tsconfig.json` to root on postinstall if none exists"

[2019-07-04 07:20] FrobtheBuilder commented on #1
Maybe this is related, in the default starter kit there's a basic Image component included that definitely does import an image correctly, code generation still fails on the fragment used in the query.
[code]

[2019-07-04 07:40] d4rekanguok commented on #1
Hi @FrobtheBuilder, thank you for trying out the plugin & report an error! What can I do to reproduce the error you shared above? Does it happen right after you install the plugin into a fresh default starter?

[2019-07-04 08:13] d4rekanguok opened #6 "TS2307: Cannot find module 'csstype'"
If you're running Gatsby with this plugin for the first time, you might see this error.

Changing `moduleResolution` in `tsconfig` to `node` will fix this:

[code]

Here's a [helpful comment about the error](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/24788#issuecomment-398505981).

This is not a problem with this plugin, but if you're trying to use it, you might run into this -- bec

[2019-07-04 21:35] FrobtheBuilder commented on #1
Well I made a couple of changes, but I believe it should indeed happen with a fresh starter, files converted to `tsx` and `gatsby-plugin-ts` added to the config.

[2019-07-05 01:31] d4rekanguok commented on #1
@FrobtheBuilder Thank you! It's all thanks to the work of the good folks at [graphql-code-generator](https://github.com/dotansimha/graphql-code-generator) and [graphql tookit](https://github.com/ardatan/graphql-toolkit). I just patch up their codegen api to match the cli's feature & hook it up with gatsby.

I'll try integrating the starters this weekend, thanks again for the error. I converted the

[2019-07-05 01:34] d4rekanguok opened #7 "Get rid of peer dependencies warnings"
When users install the plugin to their site, they'll met with 10s of dependencies warnings for graphql.
We have to use Gatsby's own graphql (gatsby/graphql). I'm not sure how to fix this?

Here's the messages:
[code]

[2019-07-05 02:13] d4rekanguok opened #9 "update message doesn't show generated file location when customed"

[2019-07-05 23:27] FrobtheBuilder opened #10 "moduleResolution "gotcha" in required tsconfig settings"
If you want `"target": "esnext"` and `"module": "esnext"` to work properly with a project that uses, well, any npm packages at all (including Gatsby itself), you absolutely must specify `"moduleResolution": "node"`. Without it, tsc won't even bother looking in `node_modules` for typings, since it defaults to "classic" if you're using any module setting other than "commonjs". It would be worth noti

[2019-07-06 04:37] d4rekanguok commented on #10
@FrobtheBuilder Thanks for the warning!! Configuring tsconfig to work with Gatsby is tricky... I recently ran into this as well (#6) & added to readme in this repo, but the [Gatsby readme](https://www.gatsbyjs.org/packages/gatsby-plugin-ts/?=ts) haven't been [updated](https://www.gatsbyjs.org/packages/gatsby-plugin-ts/?=ts) at all.

Ultimately, it's safer to warn users when their config is not opt

[2019-07-07 07:39] d4rekanguok opened #11 "[update: 1.3] Typecheck is now disabled during production"
In my medium-sized gatsby repo, disabling typecheck during production shaves off roughly 5 seconds in build time, or about 7%. This is not *that* significant (since the bulk of the build time hang up is due to fetching resources from where else), but I think it's still worth it to set this option by default. To reverse this behavior, users can set `alwaysCheck` options:

[code]

We're technically

[2019-07-07 07:41] d4rekanguok commented on #11
Now comes to think about it, perhaps I should have made the option opt-in & allow users to set the option via an env for CI instead 🤦‍♂

[2019-07-16 20:03] FrobtheBuilder commented on #10
Oh, cool. Thanks.

[2019-07-19 21:30] FrobtheBuilder opened #12 "Run gatsby-node with ts-node?"
I'm not sure if you've considered this, or if it's even possible for a plugin to do this, but could there be a way to make Gatsby run the gatsby-node file using `ts-node`? Again, I don't actually know whether or not this would require a change to Gatsby's core or if a plugin could force it. Just wondering if it's something you've looked into.

[2019-07-20 07:38] d4rekanguok commented on #12
Ohhh no, I haven't thought about this, thank you for bringing this up!

As far as I undetstand, babel plays an important roles in gatsby, and by using ts-node, we won't be able to feed transpiled `.ts` to gatsby's babel pipeline. It looks like the way ts-node works is that it's either all or nothing, it's not possible to pick and choose which files to be used by ts-node.

Another (maybe related) s

[2019-07-28 15:15] d4rekanguok commented on #5
Should also add detail reason why each setting in `tsconfig.json` is required so

[2019-07-31 17:32] frantic1048 opened #13 "check `options.fileName` directory existence before writing file"
I configured  `options.fileName` under a separate directory in the project root for generated code, and gitignored it.

Then I found a quick failing on CI, errored with: `Error: ENOENT: no such file or directory, open <options.fileName>`.

After minutes I found the error is thrown from `gatsby-plugin-ts` ( https://github.com/d4rekanguok/gatsby-plugin-ts/blob/a31a61c76b237a76dc52274c699e5b9d1f3d97e

[2019-07-31 20:49] d4rekanguok commented on #13
Nice, thank you for reporting in, will fix that 👍

[2019-07-31 21:45] #13 closed

[2019-07-31 21:49] d4rekanguok commented on #13
Published in 1.3.1

Please let me know if the problem persists, thanks again for reporting in.

[2019-08-01 03:41] frantic1048 opened #15 "graphql-toolkit throws error about no type def found since gatsby-plugin-ts 1.3.2"
On `gatsby-plugin-ts` `1.3.0` and `1.3.1`, during building, `graphql-toolkit` only warns with a message like this:

`Unable to find any GraphQL type defintions for the following pointers: <Project Root>/.cache/fragments/*.js`

On `gatsby-plugin-ts@1.3.2`, `graphql-toolkit` throws an error with the above message, which breaks building. I found `1.3.2` is a greenkeeping version, and updated `graphql

[2019-08-01 06:19] frantic1048 commented on #13
It works well on 1.3.1, thanks for your quick fix.

---

Ensuring the directory to write is a point. And I'm exploring more with `gatsby-plugin-ts`. I'd write new issues when I got some ideas.

[2019-08-01 10:53] d4rekanguok commented on #15
Thank you again for your attention & patience! And my apologies for breaking your build back-to-back.

I will work on a fix tonight

[2019-08-01 15:23] #15 closed

[2019-08-01 15:42] d4rekanguok opened #18 "Check if this plugin still works with gatsby theme"

[2019-08-01 15:44] d4rekanguok commented on #15
@frantic1048  I've just released a fix for this in 1.3.3, please let me know if the issue persists

[2019-08-01 16:56] frantic1048 commented on #15
@d4rekanguok 1.3.3 works nicely~ Your plugin saved my day, thanks for your work ( ͡° ͜ʖ ͡°)

[2019-08-02 06:08] d4rekanguok opened #19 "Should split codegen into its own repo?"
- ~~ts-loader is slower than babel~~ Actually since we're not type checking with tsc, ts-loader is only tiny bit slower than babel. Yay!
- typecheck can still be done independently via ts-fork-typecheck webpack plugin or with IDE
- codegen part will be more useful for everyone, regardless of which ts plugin they use

- [x] We'll turn this repo into a monorepo that host the current `gatsby-plugin-t

[2019-08-02 06:09] d4rekanguok commented on #12
@FrobtheBuilder  So it's actually possible! But we have to create a `gatsby-node.js` that import ts-node & point it to `gatsby-node.ts`, if I understand correctly. Also have to repeat this to every other config file, so I think a cleaner approach would be to build config files with tsc on preInit :(

[2019-08-02 06:10] #12 closed

[2019-08-02 06:11] #11 closed

[2019-08-02 06:11] #6 closed

[2019-08-02 06:12] d4rekanguok commented on #9
Actually not a bug -- just console line being cut off weirdly

[2019-08-02 06:12] #9 closed

[2019-08-02 06:12] #10 closed

[2019-08-20 16:43] mshick opened #20 "Working example (with a mixed js/ts codebase)?"
I've been having a bear of a time getting this working in existing projects, so I went back to basics:

1. Install gatsby-starter-default
2. `npm install gatsby-plugin-ts typescript`
3. `tsc --init` and incorporate required settings, as well as `allowJs: true`
4. Add the following to my gatsby-config
[code]
5. Rename index.js -> index.tsx
5. `npm run build` -> no problems
6. `npm run develop` -> l

[2019-08-20 18:21] d4rekanguok commented on #20
Hi @mshick, I'm sorry to hear that you're having a hard time setting this up, I will follow the steps you shared here to see what went wrong.

I've been using this plugin in a few private repos & converted [the default blog starter](https://github.com/d4rekanguok/gatsby-starter-blog-ts) to use it, however I haven't updated the example for a while so maybe something has changes.

Thank you for maki

[2019-08-20 18:49] d4rekanguok commented on #20
@mshick I've successfully reproduced the error messages you share. So this happens because of mixing `.js` & `.ts` in the codebase. By default tsc transform source files into `.js` files in the same folder they are in. and this causes the errors because  `.js` file can also be a source.

Thankfully the fix is quite simple, if `allowJs` is enabled, an `outDir` should also be specified.

[code]

Thi

[2019-08-20 18:55] d4rekanguok commented on #5
A mixed js/ts codebase might require a different tsconfig.json setup #20

[2019-08-20 20:26] mshick commented on #20
Ah! That's great. Working correctly for me now.

Appreciate the quick response and thanks for the plugin!

[2019-08-28 19:31] mshick opened #22 "Provide an option to disable the typechecker entirely"
At the very least this would help in debugging. I'm currently experiencing an issue where my preview server running in a docker container is failing, and I believe it's due to the typechecker, but it's quite difficult to debug.

[2019-08-29 02:39] d4rekanguok commented on #22
Thank you for the feedback, this is a poor design on my part. I should had exposed a `typeCheck` options that can be turn on & off completely instead of an `alwaysCheck`. Will add this in tonight!

[2019-08-29 13:34] mshick commented on #22
Thanks, much appreciated.

As a sidenote, I know you have another issue open where you suggest breaking off the codegen portion. I'll +1 that, as the concerns of typechecking and codegen are related, but not coupled. There's also this plugin https://github.com/DaleLJefferson/gatsby-plugin-typescript-checker that works well, and I could see a typechecker plugin and a codegen plugin each having sepa

[2019-08-29 15:07] d4rekanguok commented on #22
Published in 2.0.0. Thank you for the nudge on breaking off the codegen portion! I'll try to tackle that tonight. You are right, I should handle the break out myself, but I will gladly accept PR on any other improvement that comes to your mind. Thank you again!

[2019-08-29 15:07] #20 closed

[2019-08-29 15:07] #22 closed

[2019-08-29 16:10] d4rekanguok commented on #22
@mshick I've published a new package, [`gatsby-plugin-graphql-codegen`](https://www.npmjs.com/package/gatsby-plugin-graphql-codegen) that contains the codegen portion of the original `gatsby-plugin-ts`, so please try it out if you'd like to only use the codegen feature!

[2019-08-29 18:37] mshick commented on #22
Thank you! This is great. Updating my project now...

[2019-10-20 14:13] d4rekanguok opened #24 "(gatsby-plugin-ts) Error with latest Gatsby"
Likely Gatsby internal assuming presence of `gatsby-plugin-typescript`? Need to look into this more

[2020-01-06 04:59] #19 closed

[2020-01-10 13:19] jseto commented on #24
Should close. Now it's fixed.

[2020-01-14 04:32] d4rekanguok commented on #24
Thank you @jseto, that's great to hear! I'll give it another try. Did you also run into the same problem?

[2020-01-14 10:42] jseto commented on #24
Yes. I thought you fixed in your last release as it is working now.

[2020-01-15 02:50] d4rekanguok commented on #24
Hah, I didn't touched anything regarding to this issue at all — it seems fixed. Perhaps a Gatsby patch release fixed it? Will close for now, thank you again for reporting in!

[2020-01-15 02:50] #24 closed

[2020-01-15 02:51] d4rekanguok commented on #3
close to merge with #4

[2020-01-15 02:51] #3 closed

[2020-01-15 02:57] #1 closed

[2020-01-20 05:34] d4rekanguok opened #28 "Greenkeeping"
- [ ] upgrade graphql-toolkit

[2020-01-20 05:34] #18 closed

[2020-01-20 05:37] d4rekanguok commented on #4
I've just released [gatsby-plugin-node-reload](https://github.com/d4rekanguok/gatsby-plugin-node-reload), which automatically restart Gatsby on gatsby-* changes. The exit method is a bit crud (manual), but it's a stepping stone to reach auto reload with gatsby-node.ts.

[2020-01-22 04:37] ricokahler opened #29 "Feature request: gatsby-node codegen"
## Objective

The following is a feature request to add codegen for gatsby-node related typescript files so that calls to `graphql` via the [`createPages` node API are typed](https://www.gatsbyjs.org/docs/node-apis/#createPages).

My `gatsby-node.js` file looked something like this:

[code]

I use `ts-node` to load typescript files from `gatsby-node.js`.

The following 👇 is an example typescript f

[2020-01-22 05:41] d4rekanguok commented on #29
Hi @ricokahler, thank you very much for this thoughtful feature request.

I think this feature is aligned with another one I've been working on (#4). The end goal is to bring the same reloading codegen in `src` to `gatsby-node.ts`.

The current gatsby-plugin-graphql-codegen plugin is hooked into Gatsby's watch process, which as you know, doesn't watch gatsby-* files.

I think we may want to create

[2020-01-22 06:03] ricokahler commented on #29
Thanks for getting back to me! This is a great project and by far the best TS plugin for gatsby 💯

Take your time. I'm not exactly sure my above recommendation makes sense but it's an idea to get us started at least.

---

I actually wasn't considering watching and reloading the node side of things. The DX I imagined for this plugin involved restarting gatsby for any node-related changes (since th

[2020-01-28 07:04] d4rekanguok opened #30 "(graphql-codegen) support tooling"
Apparently there are three (3!) other plugins that does the same thing as gatsby-plugin-graphql-codegen:

- https://github.com/cometkim/gatsby-plugin-typegen
- https://github.com/daugsbi/gatsby-plugin-codegen (New typescript website uses this)
- https://github.com/neugelb/gatsby-plugin-generate-typings

It looks like some of these plugins have better support for tooling (eslint, vscode-apollo). I'

[2020-02-01 10:17] aswinckr opened #31 "Cannot read property 'definitions' of undefined"
I tried to use the `gatsby-plugin-graphql-codegen` on my gatsby site but i'm unable to develop my gatsby site. Am i missing something? Appreciate your help!

On my terminal -
[code]

`gatsby-config.js` :

[code]

`pages/work.tsx`
[code]

[2020-02-01 10:30] d4rekanguok commented on #31
Hi @aswinckr, sorry this happens — are you using a gatsby starter or a theme of some sort, if so, which one is it? It would help reproduce this error (a reproduction repo is very, very welcomed.) Thank you for giving this plugin a try!

[2020-02-01 10:42] d4rekanguok commented on #31
_Ohh_ have you tried just using the plugin as a string?
[code]

[2020-02-01 13:30] eXaminator commented on #31
I'm seeing the same error with the 'gatsby-plugin-ts'.

Here is my config (I also tryed it with just the string, same error):

[code]

[2020-02-01 13:42] d4rekanguok commented on #31
Thanks for taking the time to reporting in, definitely seems like a bug -- sorry about this

[2020-02-01 14:21] d4rekanguok opened #32 "Conflicting graphql module"
Ensure that there is only one instance of "graphql" in the node_modules
  directory. If different versions of "graphql" are the dependencies of other
  relied on modules, use "resolutions" to ensure only one version is installed.
  https://yarnpkg.com/en/docs/selective-version-resolutions
  Duplicate "graphql" modules cannot be used at the same time since different
  versions may have different ca

[2020-02-01 14:38] #32 closed

[2020-02-01 15:37] #31 closed

[2020-02-01 15:37] #28 closed

[2020-02-01 15:41] d4rekanguok commented on #31
The fix published in the following packages:
 - gatsby-plugin-graphql-codegen@2.1.4
 - gatsby-plugin-ts@2.1.4

So it was a weird graphql-toolkit versions mismatched. Migrating to the latest version fixed the issue (see #34).

Thank you so much @aswinckr and @eXaminator for reporting the issue & allowing me to fix this in a quick manner! Please re-open the issue if the problem persists, hope you ha

[2020-02-01 16:08] d4rekanguok commented on #7
The graphql peer dependencies warning is back (#33) and is worse than ever.

[2020-02-01 22:21] eXaminator opened #36 "Gatsby develop crashes on type errors"
I am just converting a rather small gatsby project to typescript using this awesome plugin. It seems to be a lot better than the default typescript plugin.

But I have come across one quite annoying behavior: When running gatsby develop it seems to crash after some type errors occured. Here is an example:

[code]

This can be quite annoying as type errors are expected during development and the de

[2020-02-02 13:40] d4rekanguok commented on #36
Thank you for the kind words!

It indeed shouldn't crash the main process & only report the error in terminal. Does it happen consistently for you? Sorry about the inconvenience.

[2020-02-02 18:06] eXaminator commented on #36
I'm afraid I can't reproduce it right now. It seems to work for the moment. I guess it has to do with the nature of the specific error, as it seems to crash if the error happens while SSR is happening. At least that's how I interpret above error. Sadly I don't have a lot of knowledge of how gatsby handles SSR exactly, so it's hard for me to debug or reproduce.

The errors kept happening while I wa

[2020-02-04 14:24] joewood opened #37 "Error from gatsby-plugin-graphql-codegen v.2.1.4"
I'm seeing the following error when using the latest version:
[code]

It looks like TypeScript is not transpiling `array.flat`. The reason for this is that `flat` has moved from `esnext` to `es2019`. If you change you lib array in **tsconfig** to include `es2019` it should fix it:

https://github.com/d4rekanguok/gatsby-typescript/blob/master/packages/gatsby-plugin-graphql-codegen/tsconfig.json#L6

[2020-02-04 15:17] d4rekanguok commented on #37
Whoa, I didn't realized that  array.flat wasn't being transpilied. Thank you very much for taking the time (if you feel like sending a PR I would gladly merge it) & sorry about the inconvenience!

[2020-02-04 16:03] d4rekanguok commented on #37
TIL Typescript doesn't provide polyfill for new built-ins, so including ES2019 in --lib doesn't solve the problem. I've reverted back to using reduce so it'll run on nodejs < 11 (#38). Thank you again for taking the time & bringing this issue to light!

The fix is published in gatsby-plugin-graphql-codegen@2.2.1

[2020-02-04 16:03] #37 closed

[2020-02-04 16:40] ricokahler opened #39 "Allow codegen for non-gatsby schemas"
I apologize if this issue is specific however I don't know where else to post about it.

It's sort of an issue with `graphql-codegen` but also specific to codegen in a gatsby context via this plugin so I'll start here 😅

Please let me know if I missed something!

## The issue

Using the `@apollo/client` (`v3.0.0-beta.32`), requires you import the `gql` tag from apollo like so:

[code]

The issue i

[2020-02-04 17:36] d4rekanguok commented on #39
Hi @ricokahler, thanks for coming back with another interesting issue (I still owe you a response in #29!)

I really like that!

However it looks like [graphql-toolkit](https://github.com/ardatan/graphql-toolkit) (the lib that scan code files for graphql documents) doesn't expose an api for filter/ignore graphql tags, and the returned graphql documents also don't contain information of their graph

[2020-02-04 17:49] ricokahler commented on #39
That makes sense. I had a feeling I'd have to open another upstream lol

That's good info though. Looking at the repo, it seems like `graphql-tag-pluck` is the package we need this feature in. I'll propose it and we'll see what happens.

[2020-02-04 19:33] ricokahler commented on #39
I was doing a bit of digging in that repo and it seems like they do actually expose an API for picking the particular tags. 👇

[code]
- [Source to the above](https://github.com/ardatan/graphql-toolkit/blob/b3250d3f6ec4803465d13ea1daf3bf532069fb28/packages/graphql-tag-pluck/src/index.ts#L8-L12)
- [The default config](https://github.com/ardatan/graphql-toolkit/blob/b3250d3f6ec4803465d13ea1daf3bf5320

[2020-02-05 01:08] d4rekanguok commented on #39
Wow, great work! For whatever reasons, when I saw that `module` options earlier, I asumed that setting it will add *more* tags instead of overwriting the defaults. Thanks for that!

It's definitely possible to get this feature out then. I think the config you propose makes sense.

I think the steps could be:

- [ ] limit plucking to Gatsby's tag only

- [ ] add loadSchema support
- [ ] refactor th

[2020-02-05 12:48] d4rekanguok opened #40 "(codegen) Allow users to configure graphql-codegen"

[2020-02-05 14:23] d4rekanguok commented on #22
@mshick Hi Michael, thanks again for the nudge to extract the codegen portion -- the codegen plugin is now many times more popular than the original typescript one!

I wonder if you are still using the plugin & if you have found anything that should be improved.

Thanks again & have a great day!

[2020-02-05 15:01] ricokahler commented on #39
Yeah I have some time. I can probably get a PR to you within the next few days if you'll take it. I can also set up jest for the repo in a separate PR if you want too.

[2020-02-05 15:06] d4rekanguok commented on #39
Thanks @ricokahler, I'll take them all — please send PRs!

If you know a typescript + gatsby + apollo opensource projects / starter that we can test this plugin with, please share as well.

[2020-02-05 15:28] ricokahler opened #41 "Testing with Jest"
Per our discussion here: https://github.com/d4rekanguok/gatsby-typescript/issues/39#issuecomment-582448732

We wanted to add tests with jest. I wanted to open this issue to track how we'll do that.

Here's a few questions:

## Testing conventions

What conventions do you prefer?

1. [`it('blah', () => {})` or `test('blah', () => {})`](https://jestjs.io/docs/en/api.html#testname-fn-timeout)?
2. do

[2020-02-05 15:38] d4rekanguok commented on #41
Thanks @ricokahler, I don't mind any of these so please take the lead.

Most of the code in this repo is 'glue code', so I think end-to-end tests is important, but I don't know how to write those kind of tests yet. Would it be a good idea to boot up a Gatsby site, then use Jest to compare the output snapshot does that make sense)?

I have had good experience with travis in the past!

[2020-02-07 22:04] ricokahler opened #43 "Running the build via GitHub Actions"
Per our discussions in  #41 and #42 , I think it makes sense to run a `gatsby build` as a [required status check](https://help.github.com/en/github/administering-a-repository/enabling-required-status-checks) before merging a PR.

Here's my idea:

Since you already have the `gatsby-starter-blog-ts` package in there, let's create a GitHub Workflow that will link the packages via lerna and then simpl

[2020-02-08 14:29] #41 closed

[2020-02-08 14:37] d4rekanguok commented on #43
That's a great idea!! Would it make sense to add a new gatsby package for each scenario we want to test? i.e codebase with mixed ts/js, codebase with apollo client (#39), codebase with gatsby-node.ts etc.

Also, I am very impressed with the professionalism shown in the way you communicate & your code — would you accept to be a collaborator to this project? It'll be easier to work on the tests and

[2020-02-08 14:41] d4rekanguok commented on #30
Hi @Kerumen, hope you don't mind me pinging — I see you in all of the repo listed above 😅 I wonder if you have any feature request/feedback for this project? Thanks!

[2020-02-08 23:18] ricokahler commented on #43
I think so, creating a publishable starter for each scenario (and put each starting in `/packages`) seems like the right thing to do but it also sounds like a lot of work to maintain if the number of scenarios or number of features in a scenario grows too much.

So given that, I think it makes sense to add (and potentially publish) one simple and bare-bones package to this repo for now: `packages/

[2020-02-09 06:44] d4rekanguok commented on #43
Agreed, I also found this helpful article to publish starter from within a workspace with github actions:
https://johno.com/publishing-gatsby-starters-from-monorepo

[2020-02-09 09:43] d4rekanguok opened #46 "(docs) tsconfig: nullish coalescing operator & optional chaining"
Users should set tsconfig.target to pre ES2019 so Typescript transforms these new features correctly before feeding to babel.

[2020-02-12 06:23] d4rekanguok opened #49 "(chore) add renovatebot, changesets"

[2020-02-14 05:20] d4rekanguok opened #52 "Gatsby-node reload"

[2020-02-14 15:38] #46 closed

[2020-02-16 12:02] Js-Brecht commented on #4
Hey, I just saw this issue, and the brief conversation in #12.  I'm curious to hear your thoughts on how you would accomplish this using a plugin.  Would you use a wrapper around `gatsby develop`, so you can add the typescript interpreter?  I always thought that it would need to be functionality included internally in Gatsby, since the interpreter would have to be spun up before reading `gatsby-co

[2020-02-16 12:14] Js-Brecht commented on #4
I actually just stumbled on [this issue](https://github.com/gatsbyjs/gatsby/issues/18983), so I should amend what I said a little bit.  Apparently, the Gatsby team is considering including Typescript support OOTB, including for configs

[2020-02-17 07:08] d4rekanguok commented on #4
Hi @Js-Brecht, thank you for sharing your config & experience!! I was thinking of running tsc preinit, but I'll rethink that after reading this. I've run into the limitation that you've mentioned here as well. It looks like `ts-node` is a good solution.

I'm excited about TS support from Gatsby — the issue has been around for a while, but with little movement. If there's something we can do from t

[2020-02-18 05:15] Js-Brecht commented on #4
I agree 100%.

---

I had actually started writing a reply asking if you had any ideas how to get this this to work as a plugin when I had an idea of my own.  Check out [this branch](https://github.com/Js-Brecht/gatsby-starter-pnpm-ts/tree/ts-config) of my previously mentioned repository.  Specifically, look at [this folder](https://github.com/Js-Brecht/gatsby-starter-pnpm-ts/tree/ts-config/plugin

[2020-02-18 05:27] d4rekanguok commented on #4
That is awesome!! My original idea was to build a wrapper around gatsby-cli & then run tsc on gatsby-node on each invocation, since I'd need the wrapper for the reload feature anyway — however @ricokahler convinced me to just get this gatsby-node.ts first, and his idea was similar to yours: requiring user's gatsby-node.ts via plugin's gatsby-node. This approach seems to be cleaner.

IIRC there wer

[2020-02-18 05:37] Js-Brecht commented on #4
They do run through Webpack, so yeah, they work just fine as Typescript files.  That’s why I’ve just left them in the root of the repo.  However, I was trying to find a way to get ALL of that stuff out of the root, except the bare minimum (`gatsby-config`)

I’m not aware of any.  I am pretty sure that the end-user’s api hooks take precedence over any of the plugin’s, but I’m pretty sure that plugi

[2020-02-18 05:49] d4rekanguok commented on #4
Personally I prefer to leave the gatsby-*.ts files in the root, since that's Gatsby convention — but saving them in a `.gatsby` directory is not bad either.

Re:limitation around root gatsby-node vs. plugin's gatsby node, I think it might have changed since the introduction of theme. I remember running into issue trying to modify data that wasn't created by my own plugin.

In a plugin we can find

[2020-02-18 06:19] Js-Brecht commented on #4
I’m not entirely sure.  Technically speaking, though, everything written in those TS files will belong to the plugin, including the plugin array.  So, all of the process in `gatsby-node` is still happening at the same level that owns all of the plugins.

That’s only a problem when trying to proxy `gatsby-browser` and `gatsby-ssr` through the plugin.  With `gatsby-node`, it’s still running in the s

[2020-02-18 11:04] d4rekanguok commented on #4
Thanks @Js-Brecht, I will give it a try. Great work on the pnpm ts starter!

[2020-02-18 20:45] cometkim commented on #4
You can forward any serializable info from gatsby-node to browser code via adding webapack define plugin config on onCreateWebpackConfig. This is actually gatsby doing internally. just need to be careful about naming conventions.

[2020-02-18 21:34] Js-Brecht commented on #4
@cometkim y'know, I had thought about trying that briefly, but I was done messing with it for the night.  Your comment brought me back to it, so I thought I'd try it out.  And voila!  It works.  Now I get my wish for moving all of the config files out of the root of my project 🎉

_And_ I found a bug when running on Windows, so thank you for bringing my attention back!  🙏

Some extensive testing wo

[2020-02-19 00:06] Js-Brecht commented on #4
I went ahead and packaged it up and published the beta: https://www.npmjs.com/package/gatsby-plugin-ts-config

Can iterate from there, when issues come up.

[2020-02-19 00:47] d4rekanguok commented on #4
Nice work, congrats!

[2020-02-19 23:20] johnrom opened #54 "Inline Fragments aren't exported"
I'm experimenting with Gatsby + TypeScript, while having `gatsby-plugin-graphql-codegen` generate all types which come from GraphQL. Using this with inline fragments + interfaces doesn't export the types for the fragments to be consumed by components' props. This means I'd have to duplicate types for all widgets.

Please export the fragments as well.

Example:

[code]

Now when it comes time to ge

[2020-02-20 03:59] d4rekanguok commented on #54
Hey @johnrom, thank you for trying out `gatsby-plugin-graphql-codegen`. I'll look into this as soon as possible.

In the mean time, have you checked out https://github.com/cometkim/gatsby-plugin-typegen ? It does similar thing as this plugin, but it might handle this case. Thanks again!

[2020-02-20 16:00] johnrom commented on #54
Interesting, I hadn't come across that plugin. I'll take a look. If it doesn't solve the issue, I'd be willing to open a PR with the fix.

[2020-02-20 16:49] johnrom commented on #54
I checked out the other plugin, and that doesn't export the Inline Fragment definitions either. Maybe there's a common library upstream that is generating the types this way?

I'll open an issue there as well.

[2020-02-20 17:19] johnrom commented on #54
Found solution, quoting from other issue:

[`@graphql-codegen/typescript-operations`: `config.exportFragmentSpreadSubTypes`](https://graphql-code-generator.com/docs/plugins/typescript-operations#exportfragmentspreadsubtypes-boolean-default-value-false)

[2020-02-20 23:33] d4rekanguok commented on #54
Thank you for figuring this one out @johnrom! A PR will highly be appreciated.

I setup typescript-operation config over here: https://github.com/d4rekanguok/gatsby-typescript/blob/74f0f4547c24bbbd035bcf758135e898d04df49a/packages/gatsby-plugin-graphql-codegen/src/graphql-codegen.config.ts#L62

I plan to expose codegen config in a update soon, so users can edit the config as they need.

[2020-02-24 13:32] d4rekanguok opened #58 "(ts) feat: use experimentalWatchApi by default"
https://webpack.js.org/guides/build-performance/#typescript-loader

Add this before { ...tsLoader } so user can overwrite this option if they want to

https://github.com/d4rekanguok/gatsby-typescript/blob/002881e4f2529512d58a4db4a131ce96fc58874f/packages/gatsby-plugin-ts/src/gatsby-node.ts#L47

[2020-02-24 14:06] #54 closed

[2020-02-26 08:31] d4rekanguok commented on #58
ah that options seems to be outdated, however should still take a look at the docs again to find best performance practice

[2020-03-04 09:26] d4rekanguok commented on #36
I've just updated the default fork-checker plugin (#64) so it show error on the browser + might prevent crashes, please upgrade (2.4.0) and try it out! Will close this issue for now, please feel free to reopen if the crash happens continuously.

[2020-03-04 09:26] #58 closed

[2020-03-06 21:27] olee commented on #36
I have this issue when using `gatsby-plugin-graphql-codegen` with `gatsby-plugin-typescript`.
Once I write an invalid query somewhere, it will crash the whole cli:

[code]

[2020-03-06 21:40] olee commented on #36
I found out this is caused by the call to `reporter.panic(err)` [here](https://github.com/d4rekanguok/gatsby-typescript/blob/master/packages/gatsby-plugin-graphql-codegen/src/gatsby-node.ts#L63).

Also see this: https://github.com/gatsbyjs/gatsby/issues/13179

[2020-03-07 03:08] d4rekanguok commented on #36
@olee thanks so much for  identifying the cause!

Comes to think about it, codegen should never crash the main process. If you have time to spare, would you like to send a PR to change `reporter.panic` to `reporter.warn`?

[2020-03-11 19:10] Jfelix61 opened #69 "Missing fragments on Mac Os"
Whenever I try to run graphql codegen on my mac os, I get the following error:

![image](https://user-images.githubusercontent.com/21092519/76453939-1ec46900-63aa-11ea-9568-c50cd04ac9b7.png)

It seems to work fine on Linux (running Pop!_os 19.10). I believe it has to be related to the differences in paths of Mac os. By the way, I have `gatsby-plugin-sharp` dep. which hosts the fragments.

[2020-03-11 22:23] d4rekanguok commented on #69
Hi @Jfelix61, thank you for opening an issue!

What is the version of gatsby, gatsby-transformer-sharp, and gatsby-plugin-ts/graphql-codegen of your project? Are they the same in both install?

[2020-03-12 05:05] Jfelix61 commented on #69
Hi @d4rekanguok,

Versions:
- gatsby : `2.19.39`
- gatsby-transformer-sharp : `2.3.18`
- gatsby-plugin-graphql-codegen: `2.4.0`

[2020-03-13 05:11] d4rekanguok commented on #69
Got it. To narrow down the cause of the issue, could you try cloning this reproduction repo?
https://github.com/d4rekanguok/gatsby-ts-69-repro

It uses the same versions as outlined above. I use sharp fragment in this file:
https://github.com/d4rekanguok/gatsby-ts-69-repro/blob/master/src/components/image.tsx

I haven't been able to get the same error on MacOS & Ubuntu 16, perhaps it's something e

[2020-03-13 06:54] Jfelix61 commented on #69
Your repo runs without any problem 🤔.

- Did you update Gatsby recently? Maybe cleaning the cache could help.
Cleaned it and still have the same error.
- One other thing I can think of, is if you were using a monorepo setup with yarn or lerna. But from the path name in your image, I don't think that is the case.
No, I'm not using a monorepo
- Are you using something that might symlink package inst

[2020-03-13 07:27] henryhobhouse opened #71 "__typename mutated to _xtypename by codegen"
I am currently working on a project using Contentful, that I am trying to move to TS, and we use `__typename` to differentiate certain contents as the rest of the object is the same.

We therefore request the __typename in the query for these but codegen is oddly returning `_xtypename` in the type?

// Type returned
<img width="257" alt="Screenshot 2020-03-13 at 07 25 14" src="https://user-images.

[2020-03-13 07:51] d4rekanguok commented on #71
Hi @henryhobhouse, that is odd indeed. I'll see if there's a config from graphql-codegen we can use to keep the field name the same.

[2020-03-13 09:59] d4rekanguok commented on #71
A quick update: I couldn't reproduce this in a vanilla gatsby project, `__typename` is correctly preserved. I'll try again with a contentful starter, but if you could find the time to provide a reproduction repo it would be great!

[2020-03-13 15:31] d4rekanguok commented on #71
I've tried a contentful starter & `__typename` seems to be correctly preserved:
https://github.com/d4rekanguok/gatsby-ts-71-repro

Query
[code]

Generated
[code]

Perhaps the query used is too simple? Not sure what's going on, but I'd need a bit more help to reproduce this.

[2020-03-13 15:35] d4rekanguok commented on #69
This is tough, I'd need your help to reproduce this issue — your experience is valuable & I would love to sort this out, or at the very least add a warning to other users.

[2020-03-13 18:24] Jfelix61 commented on #69
Yes, I will try to debug it and see if I can find the cause.

[2020-03-16 03:26] mshick commented on #22
We are! We use it at Parsley Health for the gatsby-generated portions of our site. Been working well. I appreciate your work on this and acting on this request. Cheers!

[2020-03-19 18:48] Jfelix61 commented on #69
So I've been investigating and now get the error on Linux, Mac OS and Windows. Fortunately I've found a clue on where the problem lies.

The [fragments](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sharp/src/fragments.js) file is not being parsed by codegen plugin. When explicitly added to document path it returns that [fragments](https://github.com/gatsbyjs/gatsby/bl

[2020-03-20 14:24] d4rekanguok commented on #69
Thank you for sharing the issue, I will check it out -- it really should be able to find stuffs in node_modules, we might had overlooked something.

[2020-03-22 10:50] Couto opened #73 "camel case vs snake case"
I've used the search in hope for a duplicate.

I'm currently using the https://rickandmortyapi.com/ graphql api.

The types being generated by gatsby-plugin-graphql-codegen are a mixture of camel case and snake case (e.g: `RickAndMorty_Characters`), is there a way of configuring that? Either to only have camel case or snake case?

Thanks

[2020-03-22 11:08] d4rekanguok commented on #73
Hi @Couto, thank you for opening an issue!

I think there's a option you can pass to graphql-codegen to config this, but we have yet to allow custom configurating graphql-codegen —— will work on it sometimes next week, if you'd like you can subscribe to #40. Thanks again!

[2020-03-22 11:09] Couto commented on #73
Thanks for the pointer! Will keep an eye on it!

[2020-03-23 08:42] d4rekanguok commented on #39
@devuxer @kokokenada @imanbee thanks for leaving a like on the parent issue. Just want to let you know this feature is now supported in v2.6.0, thanks to @kije!

[2020-03-23 08:42] #39 closed

[2020-03-24 07:43] d4rekanguok opened #74 "[docs] Build a demo site to demonstrate the new dual schema feature"
Would be fun + cool

[2020-03-24 09:09] d4rekanguok opened #75 "[codegen] Improve DX: generate a [filename].type.ts that contain data type for each [filename].tsx"
Currently, you have to...

- name your query
- mentally add 'Query' suffix to your query name
- import it from '../../graphql-types'
- use it in your `IProps` or `useStaticQuery<MyQuery>`

Even though it's a set it & forget it type of thing, it still sucks. I propose we generate a `[filename].type.ts` next to the [filename] itself, and export the query type right there. So the flow would be more l

[2020-03-24 09:14] d4rekanguok opened #76 "[codegen] Detach codegen from gatsby lifecycle"
Not sure if this should be the way to move forward. This will allow us to provide a smoother experience for 100% typescrip codebase, i.e generating typings for queries in both `gatsby-node` and `src/**/*.ts{x}`.

Current problems:
- Gatsby don't watch `gatsby-node`, or files outside of `src`
- Typegen doesn't happen until `onPostBootstrap`. If user changes their query in gatsby-node and the new ty

[2020-03-25 05:00] d4rekanguok commented on #75
Gatsby ignore files starting with _. Perhaps we can try this & see if it triggers rebuild (likely that it still does...)

[2020-03-26 21:55] Jdruwe opened #77 ""DEFAULT_SCHEMA_KEY" is not a known API."
I get the following error when running gatsby develop:

`- The plugin gatsby-plugin-graphql-codegen@2.6.0 is using the API "DEFAULT_SCHEMA_KEY" which is not a known API.`

Is this an issue on my part?

[2020-03-27 01:51] gentksb commented on #77
I faced same problem.

[2020-03-27 03:03] ricokahler commented on #77
I can take a look at this tomorrow.

For awareness cc @kije

[2020-03-27 04:09] d4rekanguok commented on #77
Ooh we need to move any non-gatsby api exports out of gatsby-node.ts. @Jdruwe @gentksb sorry about this & thank you for reporting in!

[2020-03-27 04:18] d4rekanguok opened #78 "fix test"
Somehow our test didnt caught #77

[2020-03-27 07:32] #77 closed

[2020-03-27 07:37] d4rekanguok commented on #78
The problem is our e2e set up only test `gatsby-plugin-ts`, which has no issue since it didn't use codegen's gatsby-node.ts file.

- we should convert `gatsby-plugin-ts` to a theme & use `gatsby-plugin-graphql-codegen` that way
- we should consider a new test flow that covers both plugins

[2020-03-27 07:43] d4rekanguok commented on #77
We've fixed this in a patch:
- gatsby-plugin-graphql-codegen@2.6.1

If you're affected by this, please upgrade to the latest version. My apologies for the inconvenience. It's my mistake to not test each plugin individually before publishing.

[2020-03-27 07:45] Jdruwe commented on #77
@d4rekanguok please don't apologize, you are doing amazing work with this plugin! Thx for the fix :)

[2020-03-27 08:19] d4rekanguok opened #80 "[codegen] Make `additionalSchemas` configuration easier"
Current minimal setup:

[code]

Considering that most users would have only 1 additional schema, we should:

1. Check if `additionalSchemas` is an array or object, so user can just pass in an object directly
2. Remove `key`. Create a key automatically based on schema path
3. Make `fileName` optional. Use a sensible default like `graphql-types-addition`, if `additionalSchemas` is an array, append a

[2020-03-30 06:35] #40 closed

[2020-03-30 06:44] d4rekanguok commented on #73
Hey @Couto, we've finally allow passing additional [config & plugins to graphql-codegen!](https://github.com/d4rekanguok/gatsby-typescript/blob/master/packages/gatsby-plugin-graphql-codegen/readme.md#customize-graphql-codegen)

These new options applies to `additionalSchemas` setup as well (which I assume you are using). Here's an example:

[code]

If it still doesn't work & it's possible to share

[2020-03-30 06:47] d4rekanguok commented on #40
@MorrisonCole thank you for leaving a like on this issue. Just wanna let you know we now support this in the latest version (2.7.0)! Please see [this readme for an example setup](https://github.com/d4rekanguok/gatsby-typescript/blob/master/packages/gatsby-plugin-graphql-codegen/readme.md#customize-graphql-codegen).

[2020-03-30 06:48] #36 closed

[2020-03-30 06:53] d4rekanguok commented on #7
perhaps advice users to install `graphql` directly. Otherwise there seems to be no way to supress this warning.

[2020-03-30 12:15] Couto commented on #73
Can confirm that it does work indeed! Thank you so much for your time and work! :)

[2020-03-30 12:15] #73 closed

[2020-04-04 10:29] kaleabmelkie opened #82 "Bug in gatsby-plugin-graphql-codegen@2.7.0 when used with gatsby-image and sharp"
Emits error when using v2.7.0:

[code]

It work with v2.6.1.

Here is the [full log](https://github.com/d4rekanguok/gatsby-typescript/files/4431146/log.log).

In case it helps, these are the versions of some of the potentially related dependencies I'm using:

[code]

[2020-04-05 08:32] d4rekanguok commented on #82
Ooh very interesting, thank you for opening an issue! I'll try to fix this

[2020-04-06 07:20] d4rekanguok commented on #82
Hey @kaleabmelkie, I was unable to reproduce this error. Do you have a sample project I can use? It seems like latest version of Gatsby has yet to use graphql 15 & when I force with yarn resolution, it just choked. I must have missing something.

Nevertheless I've upgraded all our dependencies to supports graphql 15, would you give it a try to see if it fixes the error? (gatsby-plugin-graphql-code

[2020-04-06 08:21] kaleabmelkie commented on #82
Here is a sandbox for a sample of the error:

https://codesandbox.io/s/frosty-neumann-uou9z

The issue seems to appear with v2.7.1 and gatsby@15.0.0 too.

[2020-04-06 09:04] kaleabmelkie commented on #82
With v2.7.1 (and graphql@15.0.0) it logs a similar (but smaller) error on the console, but it actually launches the app and it works fine.

Here is a sample project:

https://codesandbox.io/s/frosty-neumann-uou9z

(Fork and restart it, if you want to see the error on console)

[2020-04-06 09:25] d4rekanguok commented on #82
Thanks, that's solid! I've found this error:

 a React child
(found: GraphQLDocumentError: GraphQLDocumentError: Fragment
"GatsbyImageSharpFixed" is never used.). If you meant to render a collection of
children, use an array instead.

Will go from there

[2020-04-08 06:55] d4rekanguok commented on #82
Hey @kaleabmelkie, thank you again for providing a reproduction!

I think it boils down to incompatible issue with the graphql version Gatsby uses — I'm not sure what we can do here until Gatsby upgrades to graphql 15 :(.

If you happen to use yarn, pinning Gatsby's graphql version to 14.6 seem to resolve the issue:

in package.json
[code]

Though yarn resolution seems to be a little flaky. I foun

[2020-04-08 17:41] gynekolog commented on #69
It looks like the same problem at issue #82

[2020-04-09 05:36] d4rekanguok commented on #69
It's possible, this issue is opened before graphql 15 was released though. This fragment issue is very finicky, I haven't been able to consistently address it yet :(

[2020-04-13 22:59] kirill-konshin opened #85 "Endless definition updates even when nothing goes on"
[code]

Setup is 100% per readme, nothing special. Editor is WebStorm, just in case.

[2020-04-13 23:19] kirill-konshin commented on #4
@Js-Brecht it works, thank you!

[2020-04-13 23:23] kirill-konshin commented on #85
Also I notice that progressbar never settles, it always shows `XX pages   In Progress`.

[2020-04-13 23:43] kirill-konshin commented on #85
Also I noticed that with the codegen running everything becomes extremely slow, dev pages open for seconds (instead of almost instantly).

I disabled the `codegen` option and the performance went back to normal, as well as the endless progress were no longer an issue.

[2020-04-14 00:11] d4rekanguok commented on #85
Hi @kirill-konshin, thank you for opening an issue!

It looks like you're building typings into the `src` directory, which gatsby watches with no exception. For this reason a single edit triggers a loop, and likely contribute to the slowness you experience.

We mentioned this in the readme, but I think after many editing & moving things around it's no longer clear.

We'll detect `src` in user's cu

[2020-04-14 00:22] d4rekanguok opened #86 "[codegen] Build file straight to node_modules"
This way user can just import the file directly

[code]

Instead of the `../../..` they're doing now.

Also avoid the confusion shown in #85

[2020-04-14 00:24] kirill-konshin commented on #85
Makes sense. Thank you for prompt response. Placing the file into `/types` dir worked. And yes, documentation does not mention it...

[2020-04-14 00:30] d4rekanguok commented on #85
Yeah I realized we only mentioned this in the plugin readme, in a fairly hidden table 😅 Thank you for bringing this issue to light!

I'm thinking we can also build this file to `node_modules` so you can import it as if it's a library i.e

[code]

[2020-04-14 00:32] d4rekanguok commented on #75
partially address in #86

[2020-04-14 00:32] #75 closed

[2020-04-14 00:40] kirill-konshin commented on #85
To me this looks like magic :) by default — maybe, but the check to not place it in `src` is a must.

[2020-04-15 21:10] cometkim commented on #86
FYI: This will never work with Yarn 2

[2020-04-15 21:15] cometkim commented on #86
And when my plugin had used this approach by default before, TypeScript did detect changes in node_modules rather slower than in src. (in VSCode, not sure it's IDE dependent)

[2020-04-15 23:31] d4rekanguok commented on #86
ha, forgot about that.. thanks for the reminder! @cometkim

[2020-04-19 23:17] ricokahler commented on #86
@d4rekanguok I haven't confirmed if this will work or not but here's an idea:

1. Instead of writing to `node_modules` we can write to gatsby `.cache`.
2. We can utilize the [`tsconfig.extends`](https://www.typescriptlang.org/tsconfig#extends) option and advise users to extend a pre-made configuration that will include this cache location

As far as I know, [i think it's possible to create a packa

[2020-05-01 12:43] mkbctrl opened #88 "[Question] ES5"
Hey, since in the docs you ask to set at least ES2015 as a target, can you please tell me what will happen if I will use ES5? Can't find any information about what can break.

Thanks in advance!

[2020-05-02 03:52] OfficerHalf opened #89 "Types not generated for all files, ambiguous build error"
It worked once, then decided to quit on me. I'm using `gatsby-plugin-graphql-codegen` with the default config, not `gatsby-plugin-ts`. It's very possible I've just done something wrong; I'm new to gatsby and graphql both, but this error message isn't very useful:

[code]

Types are being generated, but missing for at least one file:
[code]

My query looks fine and runs fine, so I'm not sure what I

[2020-05-02 04:09] OfficerHalf commented on #89
Did some triangulation. Build seems to be choking on the fact that I have a file `src/global.d.ts`,
[code]

As soon as I remove the file, the types are generated as expected.

[2020-05-02 18:25] mkbctrl opened #90 "Cannot find module 'typescript'"
Do I have for that plugin to work properly to install TS locally in project DIR?
Here is the error I am getting while having TS globally:

[code]

when I install the TS locally, then I have shitstorm while trying to `gatsby develop`....

[code]

and so on....

Anyone had similar issues?

[2020-05-03 08:46] d4rekanguok commented on #90
Hi @mkbctrl, thanks for trying out this library & sorry that it didnt go smoothly for you.

It looks like `typescript` has to be installed locally, I'll check if there's a way around that. Regarding the errors you met, it's likely to be something in your tsconfig. What does your tsconfig.json look like?

[2020-05-03 10:32] mkbctrl commented on #90
Found a workaround for the typescript here: https://www.typescriptlang.org/docs/handbook/react-&-webpack.html

you can use `npm link typescript` to connect with global TS.

Here is my tsconfig:

[code]

[2020-05-03 13:38] mrackwitz opened #91 "Indeterministic output causes unnecessary diffs in SCM"
The order of some properties does seem indeterministic. I decided to track the file in Git, as I have a Git Hook in place to build all TypeScript which relies on the generated types and I want to be sure it works without having to run `gatsby develop` beforehand. Unfortunately the output doesn't seem deterministic, so the file has changes because the order of properties in the types changes.

Exam

[2020-05-03 13:41] mrackwitz commented on #7
Maybe this could be also done via a postinstall script? That should make it very obvious.

[2020-05-03 13:43] mrackwitz opened #92 "On build errors the output file can be wiped"
When working on files while `gatsby develop` is running, sometimes a change causes the plugin to regenerate the output and it does almost seem like it nukes the file, before writing new output.
I checked the code, it's not what it's actually happening. I guess the codegen phase fails when the process is triggered while working on the code and there are build errors which is probably causing empty

[2020-05-04 01:52] ricokahler commented on #92
@mrackwitz ah this is good feedback and I've experienced the same issue. If I recall correctly, I think this occurs specifically happens when there are type errors (but it could be other things that cause the build to fail as well).

If you have some time, I'm sure @d4rekanguok would be accepting solutions to this. If I have some time this week, I can also try to figure something out.

[2020-05-04 02:17] ricokahler commented on #91
I might be wrong about this but I'm not sure how much control we have over the order of the properties because I believe this is handled upstream in [`graphql-code-gen`](https://github.com/dotansimha/graphql-code-generator).

Instead, I'd like to see if we can figure out a way to generate the types without having to run the whole build.

At my work, I think we faced a similar problem that you're f

[2020-05-04 03:08] ricokahler commented on #89
I have a similar setup with type augments but my config is slightly different.

Can you try:

1. moving `src/global.d.ts` to `types/global.d.ts`
2. add this to your `tsconfig.json`

[code]

Let me know if that does something.

[2020-05-04 03:27] ricokahler commented on #88
This plugin actually combines with the default "JS loader" that Gatsby uses. If you're unfamiliar, Gatsby uses webpack behind the scenes and we simply add the [`ts-loader`](https://github.com/TypeStrong/ts-loader) in the chain before Gatsby's default JS loader.

https://github.com/d4rekanguok/gatsby-typescript/blob/69a7240486f06f88837ab58a7991e0b64a918ce2/packages/gatsby-plugin-ts/src/gatsby-node.

[2020-05-04 03:27] #88 closed

[2020-05-06 15:57] LesleyLai opened #93 "Very slow codegen due to the documentPaths option includes './node_modules/gatsby-*/**/*.js'"
Maybe that is because my site uses a lot of plugins, but the default option causes the dev server to freeze a few seconds every time I do an edit. Removing './node_modules/gatsby-*/**/*.js' from the`documentPaths` option solves this problem.

[2020-05-07 04:29] d4rekanguok commented on #93
Thank you for this report @LesleyLai, I think we can definitely improve this area.

Perhaps we can try identifying the location of all plugins fragments in `onPreInit` and only fed those identified paths to `graphql-codegen`. Is your project opensource by any chance?

[2020-05-07 04:37] d4rekanguok commented on #90
my apologies for the late response here. Could you try adding `include: ['src']` to your tsconfig to see if that helps?

[2020-05-07 04:38] d4rekanguok commented on #86
@ricokahler That's a nice idea, I'll give it a try locally!

[2020-05-07 04:43] d4rekanguok commented on #89
Thanks for opening this issue @OfficerHalf, putting a global.d.ts in src dir is reasonable & shouldn't cause issue. Could you try @ricokahler's workaround for now? My apologies for the inconvenience.

It's possible that this is an issue with the upstream lib, I'll take a look.

[2020-05-07 04:48] d4rekanguok commented on #93
@cometkim ooh is this what you guys are doing? Manually identify fragments in node_modules?

[2020-05-07 05:32] cometkim commented on #93
@d4rekanguok Nope. my plugin track only documents that actually processed by gatsby. so no need to specify glob pattern or manually add it at all.

[2020-05-07 05:44] d4rekanguok commented on #88
Thanks for clarifying Rico, I'll add this to the docs.

[2020-05-07 08:10] leepowelldev opened #94 "gatsby-node createPage - cannot find module"
In my `gatsby-node.js` file I have the following:

[code]

Which seems to throw an error whe starting - `Cannot find module './src/templates/category.tsx'` however the file exists, the app seems to start fine, and the pages are created.

I don't suppose you know of a way to fix this error?

[2020-05-07 08:11] #94 closed

[2020-05-07 08:12] leepowelldev commented on #94
Sorry, my mistake  - after lots of looking, was a typo!

[2020-05-07 09:08] cometkim commented on #86
@d4rekanguok you should checkout the typegen plugin. Since v2, I've moved generated type definitions into a specific namespace declaration, TypeScript will understand the definition without importing module.

NexusJS also has a similar approach with this and they have great DX with code generation.

[2020-05-07 12:44] d4rekanguok commented on #86
Thanks @cometkim, I'll check it out v2 & also nexusJS!

[2020-05-07 18:50] LesleyLai commented on #93
@d4rekanguok Thank you for the quick response. Unfortunately, that project is not open-sourced.

[2020-05-08 13:27] ricokahler opened #95 "Conflict with `gatsby-plugin-typescript`: const enums are not supported"
It looks like Gatsby has added ["Native support for TypeScript"](https://twitter.com/gatsbyjs/status/1258427651066400768) by always including `gatsby-plugin-typescript` in the build. This most likely conflicts with `gatsby-plugin-ts` thus giving the error message

"const enums are not supported"

This plugin has supported const enums in the past because we run typescript through the typescript com

[2020-05-11 04:03] d4rekanguok commented on #95
Shoot, this could be a problem for us. Still, happy with this development in Gatsby!

[2020-05-11 15:09] Glinkis opened #96 "Duplicate identifier 'PagesQueryQueryVariables'"
I'm suddenly getting a whole bunch of errors when trying to start my project.

[code]

And the bottom part of by `graphql-types.ts`-file looks like this:
[code]

[2020-05-11 15:32] d4rekanguok commented on #96
Hi @Glinkis, thanks for opening this!

Does this mean that it worked properly before? What is your gatsby and gatsby-plugin-ts or gatsby-plugin-graphql-codegen version?

It would help us greatly if we know how to reproduce this issue!

[2020-05-11 16:53] Glinkis commented on #96
Yes, it did work before.I have narrowed down the difference to a dependency update I did.
The packages/versions that was updated:
[code]

[2020-05-12 04:55] d4rekanguok commented on #96
Thanks @Glinkis, this is valuable info — Will try to reproduce this!

[2020-05-20 03:09] jregistr opened #97 "Separating queries and type defs with codegen"
Hello!
Using the `gatsby-plugin-graphql-codegen` plugin, is it possible to create separate files for types and queries?
Let's say I'd like all the types to be in a *graphql-types.ts* and *graphql-queries.ts*. In previous non gatsby projects using the codegen app standalone, I've done this using *generates* config. Something like this:
[code]

I've tried adding an *additionalSchema* gatsby plugin o

[2020-05-23 15:01] iray-tno opened #98 "Is there a way to generate graphql-type outside gatsby?"
Thanks for the awesome project. :)

**Describe the bug**
I'm using `gatsby-plugin-graphql-codegen` with the official typescript plugin.
And I'm not adding the generated file to git.

In my case, when I clone my project and start development in another env, the build always fails since the type file doesn't exist.

[code]

Is there a way to generate graphql-type outside gatsby?

Thanks.

**To Repro

[2020-05-23 15:05] iray-tno commented on #98
Oh, sorry, this looks like dups with #76 .
If so, this issue can be closed.

[2020-05-23 17:09] d4rekanguok commented on #98
Thanks for your interest in this project @iray-tno! #76 will indeed solve this issue. I'll close this for now, but will ping you when it is resolved.

[2020-05-23 17:09] #98 closed

[2020-05-23 17:16] d4rekanguok commented on #97
Hi @jregistr! Thank you for your interest in this plugin.

It's not possible with the plugin as is, since we're not 1:1 map with codegen cli. For your use case, it might be simpler to write a script that utilize `@graphql-codegen/cli` directly, [as shown here.](https://graphql-code-generator.com/docs/getting-started/programmatic-usage#using-the-cli-instead-of-core)

I'm thinking about using the cl

[2020-05-26 23:57] EricWVGG commented on #93
This might be super obvious to a person more used to gatsby than myself, but I had a config file that looked something like this…
[code]
so the `codegen: false` bit was being ignored. This locked up the refresh on every edit, which for my codebase (a fairly large Contentful stack) was about 20-30 seconds long.

Just leaving this here in case future generations find this helpful.

[2020-05-27 03:21] d4rekanguok commented on #93
Hi @EricWVGG, thanks for using this plugin! To clarify, do you actually have 2 instances of `gatsby-plugin-graphql-codegen`, or is it some sort of typo? If you do, it is valid to have multiple instances of the same gatsby plugin, so only one will have codegen turned off.

[2020-05-27 03:51] EricWVGG commented on #93
no, I was just a dunce and had it listed multiple times. Removing the first reference fixed my issue.

[2020-06-04 21:55] mshick commented on #89
Same issue here. Quite a pain. Trying to move my types out of `src` per the suggestion seems to lead to a whole slew of other issues in my monorepo.

I spent a bit of time debugging and it's definitely an upstream lib — `graphql-toolkit`. The ability to include and exclude files by patterns is one option. If ambient types are universally the issue then `.d.ts` files could be excluded as a rule.

[2020-06-04 22:37] mshick commented on #89
Ah, I just found `options.documentsPaths`. By excluding `.d.ts` files there I was able to solve my problem:

[code]

[2020-06-05 09:12] frosato-dev commented on #91
Looks like they have fixed the bug in `1.8.0` version.
Can you update the dependency of `@graphql-codegen/core` ?
Would you accept PR ?

[2020-06-05 15:13] d4rekanguok commented on #91
@frosato-dev thanks for that notice! Yes, we would love a PR!

[2020-07-14 21:04] Tielem opened #100 "Outdated and Deprecated Dependencies"
## Describe the bug

gatsby-plugin-graphql-codegen depends on @graphql-toolkit/core which is deprecated. This package furthermore depends on lodash, which causes a warning to arise when using gatsby-plugin-ts about prototype polution by lodash.

## Tom Reproduce

I have a Gatsby starter (https://github.com/Tielem/gatsby-typescript-eslint-prettier-starter) using gatsby-plugin-ts (and love it), howe

[2020-07-16 14:13] d4rekanguok commented on #100
Thank you for this notice @Tielem! These things move so fast — I vividly remember upgrading `graphql-toolkit` to `@graphql-toolkit/xxx` just not that long ago.

I'm not in the Gatsby world at the moment, so PRs are highly appreciated!

[2020-07-26 16:33] openscript opened #101 "No graphql type is generated (maybe related to gatsby-plugin-ts-config)"
**Describe the bug**
After I migrated all Gatsby configuration to TypeScript with the help of gatsby-plugin-ts-config no more graphql types are generated.

**To Reproduce**
I've pushed everything to: https://github.com/openscript/obin.ch.

1. Clone the repo
1. Install it's dependencies
1. Run `yarn dev`
1. No type definitions are produced

**Environment (please complete the relevant info):**
- Lin

[2020-07-28 15:34] openscript commented on #101
My configuration `gatsby-config.ts` looks as follows:
[code]

The configuration of the `gatsby-plugin-ts` doesn't have any effect. If I remove it the project still builds. It seems to be ignored completely. Has it something to do with the per default enabled `gatsby-plugin-typescript`?

[2020-07-28 16:24] Js-Brecht commented on #101
Hello @openscript, first thing I've noticed is that `gatsby-plugin-graphql-codegen` does not account for absolute paths when dealing with `documentPaths` and `filename`.  It uses Gatsby's `program.directory` to join project root with the paths defined in the config.  When absolute paths are used, it results in them being doubled up: `/path/to/project/path/to/project/gatsby-graphql.ts`

This config

[2020-07-28 16:33] Js-Brecht commented on #101
Okay, the final issue is here in your `package.json`:

[code]

Gatsby uses `graphql@14.7.0`, and because you have that in your dependencies, `graphql@15.2.0` is being hoisted and used by your project (therefore, it is being used by `gatsby-plugin-graphql-codegen`, and by extension, `@graphql-codegen/*`.  Meanwhile, Gatsby is using a completely different instance (and major version!) in its local `

[2020-07-28 16:43] Js-Brecht commented on #101
About this comment: `gatsby-plugin-ts` will not generally have much affect when transpiling your code, because yes, it is getting hit by `gatsby-plugin-typescript` first.  I recently opened an issue related to this at https://github.com/gatsbyjs/gatsby/issues/26027.

It will, however, still generate the graphql types, because that is a process apart from the transpiling.

It will also do typecheck

[2020-07-28 17:13] d4rekanguok commented on #101
@Js-Brecht Thank you for digging in & your insight!

[2020-07-28 21:17] openscript commented on #101
Hi @Js-Brecht, first of all, thank you for taking the time and looking into my issue.

Unfortunately I couldn't solve my problem.

1. `.gatsby/gatsby-config.ts` adapted to:

[code]

2. Changed the `graphql` dependency in my `package.json`:
[code]

3. Ran `yarn install`. I've also deleted my `node_modules` and `.cache` before that.
4. Ran `yarn dev` (-> `gatsby develop`).

There is no `graphql-type

[2020-07-28 21:22] Js-Brecht commented on #101
Maybe related to https://github.com/gatsbyjs/gatsby/issues/26074

I'm not at a computer right now, so I can't say exactly what's happening, but I'd say try running `gatsby build`.  That should at least generate the types.

[2020-07-28 21:36] openscript commented on #101
You are absolutely right with this. I upgraded `gatsby` to `2.24.12` and it works now with `gatsby develop`. Thank you so much!

[2020-07-28 21:36] #101 closed

[2020-07-29 20:50] Tielem commented on #100
Hey @d4rekanguok

I've given this a stab, in my fork - https://github.com/Tielem/gatsby-typescript

1. All dependencies have been updated to latest version
2. I have renovate bot running on it, but not 100% happy yet about the config. Will look further into this
3. I ran into an issue with graphql. If I update it to 15.3.0 (or whatever latest is), I run into an error with multiple versions of grap

[2020-07-30 06:43] d4rekanguok commented on #100
@Tielem Thank you _so_ much 🙏 !!

Gatsby relies on graphql@14.6 internally, so there's little we can do until they upgrade to 15 (found this gatsbyjs/gatsby#25906.) We import graphql from `gatsby/graphql` instead of just `graphql` for this reason.

The codegen portion was originally a part of gatsby-plugin-ts. My plan was to move the ts-loader & the codegen stuff each into their own plugins & make

[2020-08-05 21:27] Tielem commented on #100
Closing this issue, since the PR is merged.

[2020-08-05 21:27] #100 closed

[2020-08-10 11:12] openscript opened #105 "Source maps don't show up"
**Description**
When the `gatsby-plugin-ts` plugin is in use, source maps don't work. If it's deactivated the source maps coming from `gatsby-plugin-typescript` work as expected.

![image](https://user-images.githubusercontent.com/1105080/89776753-cb964400-db0a-11ea-851f-757aa88fdb0e.png)

**Reproduction**
1. Clone https://github.com/openscript/obin.ch
1. Run and inspect the source in the devtools

[2020-08-10 11:14] openscript commented on #105
I've tried a few things. Adding `"sourceMap": true` to `tsconfig.json` doesn't help. Any help is very appreciated 😀

[2020-08-19 20:53] raulfdm opened #106 "[gatsby-plugin-graphql-codegen] Ignore or exclude certain match?"
Hello there.

I couldn't find in the docs some place where we can ignore some files, is that currently possible somehow?

I have `.test.ts` files inside `src` (nearby its definition) and everytime I'm writing some test but let `gatsby watch` on, it recompile my types.

I tried to pass in documentPaths a pattern like: `'./src/**/!(*.test).{ts,tsx}'` but it still didn't ignore them. I'm not sure if

[2020-08-25 12:00] msuntharesan commented on #95
This is being addressed in https://github.com/gatsbyjs/gatsby/pull/26452

[2020-09-01 10:39] mhauens opened #107 "[gatsby-plugin-graphql-codegen] npm audit security report"
[code]

Could you please update the dependencies?

[2020-09-01 10:49] mhauens commented on #107
btw.: the graphql-toolkit is also deprecated. https://github.com/ardatan/graphql-toolkit

[2020-09-01 16:45] d4rekanguok commented on #107
Thanks for this @mhauens — we've updated dependencies (#103) but I got an issue running the plugin locally, will publish a new version as soon as I can resolve it

[2020-09-27 15:20] sebtiz13 commented on #93
Hello
I notice the same problem. The codegen it's very slow by default.
But I have just start my project, so I havent plugins with definitions and have warning

my actual gatsby-config.js

[code]

[2020-10-03 19:35] phil-lgr commented on #105
Facing the same problem, any luck since you posted @openscript ?

[2020-10-03 20:10] papeloto commented on #106
Same issue here, it will be nice to exclude some patterns if not the plugin becomes unusable once you generate the types inside the `src` folder.

[2020-10-04 05:30] openscript commented on #105
Unfortunately I haven't.

[2020-11-20 20:00] kije opened #109 "Release v2.7.2 on npm"
I noticed that the latest released version of this plugin on npm is v2.7.1, but here on github, the latest release is v2.7.2.

I currently have an Issue with my gatsby builds with outdated fork-ts-checker-webpack-plugin used in this plugin, which would be solved with the updated dependencies included in v2.7.2, so I would be happy to see the new version released.

One note, however: I think the de

[2020-11-21 15:35] d4rekanguok commented on #109
Hey @kije, thanks again for your previous work on this repo! The reason why I haven't published 2.7.2 is because I run into an error locally after merging ([see here](https://github.com/d4rekanguok/gatsby-typescript/pull/103#issuecomment-681749401)), but I haven't managed to dig deeper on it and / or check if that's still an issue; Gatsby has released many updates since.

Would you have the time t

[2020-11-23 10:34] akzhy opened #110 "Minified React error #31"
Hey,
I am using this plugin on a project that uses WordPress as a cms and I ran into this error, which stops the development process

[code]

After a couple of attempts I managed to trace the error to the below part

[code]

If I remove ` ...GatsbyImageSharpFluid` the code gets executed, and if I remove the plugin from gatsby-config then again the code gets exectued. So I am guessing the issue is

[2020-11-23 10:36] akzhy commented on #110
Sorry, wrong repo

[2020-11-25 20:15] wapenshaw opened #111 "Generating Types for Image queries fluid/fixed ambiguous?"
I am not sure if this is a bug but I checked through the issues and couldn't find any. Except https://github.com/d4rekanguok/gatsby-typescript/issues/54 but that got me no where.

When I am writing an image query like this
[code]

These are the types generated for that query

[code]
Now, whenever I am trying to use the Fluid image object for gatsby-image's Img tag like this
[code]
I get this error

[2020-11-27 11:53] #110 closed

[2021-03-04 00:46] DoctorDerek opened #115 "npm warn GraphQL Toolkit is deprecated and merged into GraphQL Tools"
[code]

[2021-03-04 11:48] GayaneKasparova opened #116 "[gatsby-plugin-graphql-codegen] gatsby 3.0.0 compatibility"
**Describe the bug**
gatsby-plugin-graphql-codegen plugin doesn't work after gatsby update to 3.0.0

**To Reproduce**
  Installed packages
        "gatsby": "^3.0.0",
        "gatsby-plugin-graphql-codegen": "^2.7.1",
        "gatsby-plugin-typescript": "^3.0.0",
        "graphql": "^15.5.0",
        "react": "^17.0.1",
        "react-dom": "^17.0.1",
        "typescript": "^4.2.2"

**Environment

[2021-03-11 20:00] mmclafferty opened #118 "codegen went is extremely slow after upgrading from gatsby 2.24.11 to 2.24.12"
I am not quire sure what's changed between these two versions. Nothing stands out, but after upgrading to 2.24.12, my build time went through the roof.

Before:
` run page queries - 1.823s - 43/43 23.58/s`

After:
`run page queries - 59.584s - 145/145 2.43/s`

Removing gatsby-plugin-graphql-codegen fixes the issue.  It appears the slowness is coming from createConfig. generateWithConfig is called

[2021-03-11 20:12] mmclafferty commented on #118
Looks like I was able to get this fixed by setting the following documentPaths:

[code]

 Related https://github.com/d4rekanguok/gatsby-typescript/issues/93

[2021-03-23 14:02] dvakatsiienko commented on #116
Voting up for this one! Also can't spin up setup with gatsby-typescript using Gatsby 3+

[2021-03-26 10:47] arthurkhlghatyan commented on #116
Hey there,

Same issue on my end.

Also got hot reloading blocked.

Thanks.

[2021-04-10 04:19] jephjohnson opened #120 "[gatsby-plugin-graphql-codegen] - Failed to validate error Error [ValidationError]: "name" is not allowed"
**Describe the bug**
All was working great and now I keep getting the error 'Failed to validate error Error [ValidationError]: "name" is not allowed'
I've tried removing node modules and re-installing and gatsby clean. Nothing is resolving this issue

**To Reproduce**
yarn build

**Environment (please complete the relevant info):**
- Mac
- Gatsby version ("gatsby": "^2.19.10",)
- Typescript versio

[2021-04-11 01:58] jephjohnson commented on #116
Bump, blocked also. Any updates on this? Appreciate you guys

[2021-04-11 20:33] jephjohnson commented on #120
Updated to ^2.7.1 and backup and running, however can't update to gatsby 3 due :(

[2021-04-22 16:39] stschwark commented on #116
I've not actually had problems yet with Gatsby 3.3.1 apart from a warning message saying `Plugin gatsby-plugin-graphql-codegen is not compatible with your gatsby version 3.3.1 - It requires gatsby@^2.12.1` which is down to the declared peer dependency.

What were the other issues?

[2021-05-05 19:35] nbaosullivan commented on #120
@jephjohnson Not sure if this will help, but check for any unnamed queries in your `src` folder, and name them if they aren't. e.g. `query MyQuery name{}` instead of `query{}`. Then maybe if nothing there, exclude `  './node_modules/gatsby-*/**/*.js'` from your documentPaths to see if there's something causing it there.

[2021-05-05 20:40] jephjohnson commented on #120
Currently the only instances I have when the query doesn't have a name is when using 'useStaticQuery'  ie:

[code]

[2021-05-06 09:11] nbaosullivan commented on #120
@jephjohnson if you change that to

[code]

Does it help at all? I just ran into this error when adding `gatsby-node.ts` to codegen documentPaths and I had some unnamed queries. After adding a name, the error went.

[2021-05-10 08:19] dustinlacewell commented on #116
It's pretty slow and seems to rebuild the typings multiple times on startup and every change.

[2021-05-20 14:25] alvis commented on #116
@stschwark if you use npm v7+ then you can't even be able to install it due to peer dependency conflict. Unless you use the `--force` flag, you've no luck other than using other similar plugins like `gatsby-plugin-typegen`.

[2021-05-20 15:44] movewise-ci commented on #116
One of us could easily make a PR to udpate the peer dependency if that's the only issue here. Would the maintainers be willing to merge it though?

[2021-05-24 01:48] d4rekanguok commented on #116
Hi everyone, my apologies for leaving this repo in the dust — happy to merge any working PRs. If you'd like to take ownership / become maintainers of this repo, please get in touch.

[2021-05-25 02:57] alvis commented on #116
@d4rekanguok Thanks for your kind invite. I'm interested to be a maintainer of `gatsby-plugin-graphql-codegen`. Unlikely I can make any substantial contribution due to my limited time as well, but at least I can help to make the package compatible with other packages.
Will make a PR to update the dependency soon.

[2021-05-30 14:13] alvis commented on #116
@d4rekanguok PRs have been made for v2 #129 and v3 #130.
You can trigger the test and review.

[2021-05-30 15:29] #109 closed

[2021-05-30 15:50] #107 closed

[2021-05-30 15:58] d4rekanguok commented on #116
Thanks so much @alvis — you're a legend for stepping up & taking this issue. I have published new versions for v2 (2.7.3) and v3 (3.0.0) as suggested.

[2021-06-01 11:28] alvis commented on #116
You're welcome @d4rekanguok. I'm just solving my pain as a ts enthusiast.
I'm tried both v2 & v3 on my personal projects and they're all so far so good. 😀

[2021-06-01 11:28] #116 closed

[2021-06-01 11:30] alvis commented on #115
I believe that v3 has resolved this issue.

[2021-06-01 11:30] #115 closed

[2021-06-01 11:32] #95 closed

[2021-06-10 16:14] asterikx opened #131 "[gatsby-plugin-graphql-codegen] Error: Invalid Custom Plugin "codegen-plugin-0""
**Describe the bug**

When using `additionalSchemas` with a client-side schema (for signing up users to a newsletter) and running `gatsby develop` (or `gatsby build`), the build fails with the error message:  `Error: Invalid Custom Plugin "codegen-plugin-0"`

Node console error log:
[code]

Plugin config:
[code]

**Environment (please complete the relevant info):**
- OS: macOS 11.4
- Gatsby versio

[2021-06-10 16:59] asterikx commented on #131
I wrongly assumed that it is possible to `codegenPlugins` by their name (just as Gatsby plugins within the `plugins` array at the top level of the Gatsby config object).

`codegenPlugins` is actually of type `GatsbyCodegenPlugins[]`:

https://github.com/d4rekanguok/gatsby-typescript/blob/540b95d3491a88109422cdd0ecc2bca9a2275ea5/packages/gatsby-plugin-graphql-codegen/src/gatsby-node.ts#L23

https:/

[2021-06-10 16:59] #131 closed

[2021-07-15 22:46] ErikAGriffin opened #134 "Why is every part of the GraphQL query optional ?"
Hi,  I'm a little new to Typescript + Gatsby + GraphQL, and there's something I don't quite understand.  From what I can tell, the types generated from GraphQL queries always produce types which are `type-from-schema | null | undefined`.

Is this always the case?  Isn't for example the `site { buildTime }` query guaranteed to have data and therefore doesn't need to be optional?

Furthermore, **wha

[2021-07-19 15:05] ChrisSargent commented on #76
Hey - is there any movement on this. I would like to generate types without running a build or dev. Is it possible?

[2021-10-03 23:07] schwigri commented on #134
Not fully addressing your question, but you can write, `<div>Build time: {data.site?.buildTime || "Unknown"}</div>` to safely check in a quick way (you can even leave out `|| "Unknown"`, just would be blank output in case it really doesn't exist).

[2021-11-09 06:58] docforcedev opened #139 "[gatsby-plugin-graphql-codegen] Error when using gatsby-source-wordpress on Gatsby 4"
**Describe the bug**
When on gatsby 4.1 with 6.1 gatsby-source-wordpress the code generator fails the entire build in either develop or build mode.

[code]

[2021-11-09 20:04] docforcedev commented on #139
Downgrading to 3.0.0 makes it work again. It seems there were some breaking changes in all the packages that were upgraded for the codegen library itself.

[2021-11-22 12:34] docforcedev commented on #139
I can workaround this by remove `gatsby-source-wordpress` from the list of `documentPaths`:

[code]

[2021-12-02 00:35] insuusvenerati opened #140 "Unable to find GraphQL type definitions"
**Describe the bug**
When using yarn v3 and `gatsby-plugin-graphql-codegen`, codegen warns with an error.
[code]

**To Reproduce**
- clone the demo repo
- yarn install (using yarn zero install but might as well for good measure)
- run `yarn develop`

**Environment (please complete the relevant info):**
- Ubuntu 21.10
- Gatsby version 4.2.0
- Typescript version 4.5.2
- Node version 16.3.0

**Additi

[2021-12-14 19:25] DevanB commented on #76
My team, too, is trying to figure out how to do this too.

[2021-12-20 11:17] jimsheen commented on #140
You're not targeting TypeScript files. Your pointed is looking for `*.js`

[2022-01-12 01:32] caleb531 opened #142 "[gatsby-plugin-graphql-codegen] ExperimentalWarning: stream/web is an experimental feature"
**Describe the bug**

When I recently installed `gatsby-plugin-graphql-codegen` into my new Gatsby project, I receive the following warning when running `gatsby build`:

[code]

The plugin still seems to work fine, and my local development process isn't halted. But I am concerned about the stability of this plugin from a warning like this.

**To Reproduce**

1. Clone my reproduction project: https

[2022-02-01 17:10] darylwright commented on #142
Running `cross-env GATSBY_GRAPHQL_IDE=playground NODE_OPTIONS="--trace-warnings" gatsby develop --verbose` produces the following output:

[code]

This appears to be a problem with the `@graphql-tools/url-loader` library based on the trace information. The line in question within this library is an import:

[code]

`cross-undici-fetch` requires `stream/web` in [`https://github.com/ardatan/w3-serve

[2022-02-02 10:33] igneosaur commented on #142
I just moved to [`gatsby-plugin-typegen`](https://www.npmjs.com/package/gatsby-plugin-typegen).

[2022-02-02 16:23] darylwright commented on #142
I've confirmed that I no longer experience this issue with `v3.1.1`. This issue can be closed.

[2022-02-02 16:33] #142 closed

[2022-03-19 18:15] spond-canoo opened #149 "Minified react error: Objects are not valid as a React child error"
**Describe the bug**
Using plugin results in error

Minified react error.... Objects are not valid as a React child (found: AggregateError: GraphQL Document Validation failed with 13 errors; Error 0: GraphQLDocumentError: Cannot query field "contentfulMarkdownContent" on type "Query". Did you mean "contentfulDropdownItem", "contentfulComponentText", "contentfulFooPageNew", "contentfulComponentHero

[2022-05-16 17:56] thibault-mahe commented on #149
Hi there, did you try exluding your plugin ?
[code]